.sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  padding: var(--av-space-2) var(--av-space-3) 0;
}

.tabs {
  flex: 1;
}

.close {
  display: none;
  margin-bottom: var(--av-space-2);
}

@media (max-width: 767px) {
  .close {
    display: block;
  }
}
